/* Color Palette
Fuschia		 #ff209c
Mint Green	 #03dba6
Gray Shadow  #848484
Light Gray	 #dddddd
*/

/*----------------------- Main Content ------------------------------*/

body{
	max-width: 960px;
	margin: 0 auto;
	background: url(../images/texture_bg.jpg) #000;
	color: #ddd;
	font-family: 'Julius Sans One', sans-serif;
}

#wrapper{
	width: 100%;
	background: #000;
}

h1, h2, h3, h4, h5, h6{
	font-family: "Kaushan Script", cursive;
	color: #ff209c;
}

#intro{
	font-size: 1.125em; /*18px;*/
	text-align: center;	
}

#intro p strong{
	text-transform: uppercase;
}

#cta{
	background: #fff;
	width: 25%; /*200px;*/
	height: 195px;
	color: #000; 
	float: right;
	font: bold 1em georgia, serif;
	text-align: center;
	padding: 15px 1.25% 0 0;
}

#button{
	width: 50%; /*100px;*/
	height: 23px;
	background: url(../images/button_bg_gradient.jpg);
	border: 1px solid #000;
	border-radius: 10px;
	text-align: center;
	margin: 0 0 0 25%;
}
#kitchoices{
	clear: right;
	padding: 40px 1.25%;
	-moz-column-count: 3;
	background-color: rgba(36, 36, 36, 0.65);
	text-align: center;
}

#bgimg{
	background: url(../images/mac-holiday-bg.jpg) #fff no-repeat center;
	width: 73.75%; /*590px;*/
	height: 210px;
	float: left;
}

#myfavs aside{
	font-size: 1.125em; /*18px;*/
	color: #03dba6;
	text-align: center;
}

#myfavs{
	padding: 0px 1.25%
}
/*----------------------- Links ------------------------------*/

a{
	text-decoration: none;
	color: #ff209c;
}

a:visited{
	color: #848484;
}

a:hover{
	color: #03dba6;
}

a:active{
	color: #000;
}

#button a{
	color: #000;
}

#button a:visited{
	color: #848484;
}

#button a:hover{
	color: #03dba6;
}

#button a:active{
	color: #ff209c;
}
/*----------------------- Header Content ------------------------------*/

#logo{
	padding: 0;
	float: left;	
}

header h1{
	margin: 100px 0 6.25%;
	text-align: center;
	text-shadow: 2px 2px 3px #848484;
}

/*----------------------- Navigation ------------------------------*/

nav ul{
	width: 37.5%; /*300px;*/
	list-style-type: none;
	padding: 0;
	margin: 0 0 0 58.875%;
	background: #000;
	overflow: hidden;
}

nav li{
	width: 33.333333333333%; /*100px;*/
	float: left;
}

nav a{
	color: #03dba6;
	display: block;
	height: 30px;
	line-height: 30px;
	text-align: center;
}

nav a:visited{ 
	color: #ff209c;
}

nav a:hover{
	color: #000;
	background: #03dba6;
}

nav a:active{
	background: #ff209c;
	color: #000;
}

#topbar{
	width: 100%;
	height: 50px;
	background-color: #000;	
}

/*----------------------- Image Gallery ------------------------------*/

#gallery li{
	float: left;
	display: inline;
	list-style-type: none;
	border: 2px solid #fff;
	border-radius: 5px;
	margin: 0 6.25% 20px;
}

section article{
	clear: left;
}

/*----------------------- Form Content ------------------------------*/
#subscribe{
		width: 100%;
		height: 410px;
		background: #848484;
}

table{
	float: left;
	background: #03dba6;
	text-align: center;
	padding: 5px;
	margin: 100px 0 0 1.041666666667%;
	color: #000;
	border-radius: 3px;
	border-collapse: collapse;
}

th{
	height: 50px;
	background: #ddd;
	font-size: 1.5em;
}

td{
	padding: 5px;
	width: 52%;
}


fieldset{
	width: 20%;
	float: right;
	margin: 0 .520833333333% 0 0;
}

label{
	text-align: left;
	padding: 2px .520833333333%;
}

input{
	margin: 5px 0;
}

input:focus{
	background-color: #ffdff1;
}

select{
	margin: 0 0 10px 0;
}
/*-------------------------Footer Content---------------------------*/
footer{
	text-align: center;
}


/*--------------------------Media Queries---------------------------*/

	/*Tablet Portrait size to standard 960 (devices and browsers)*/
	@media screen and (min-width: 800px) and (max-width: 960px) {
		body{ 
			max-width: 816px;
		}
		
		#cta{
			width: 25%;
			height: 185px;
			font-size: 0.875em;
			padding: 25px 1.25% 0 0;
		}	
		
		#bgimg{
			width: 73.75%;
		}
		#button{
			line-height: 23px;
		}
		
		#gallery li{
			margin: 0 5% 20px;
		}
		
		#subscribe{
			width: 100%;
			height: 540px;
			padding: 20px 0;
		}
		
		table{
			float: none;
			margin: 0 auto;
		}		

		fieldset{
			width: 50%;
			float: none;
			clear: left;
			margin: 25px 25%;
		}
}


	/*Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 493px) and (max-width: 799px) {
		body{ 
			max-width: 680px;
			font-size: 0.875em;
		}
		
		nav ul{
			width: 50%; 
			margin:0 0 0 50%;
		}

		#intro{
			margin: 0 1.5625%; 
		}
		
		 #cta{
			width: 25%;
			height: 145px;
			font-size: 0.8em;
			padding: 25px 1% 0 .25%;
		}

		#bgimg{
			background: url(../images/mac-holiday-bg.jpg) #fff no-repeat center;
			width: 73.75%; 
			height: 170px;
		}
		
		#button{
			line-height: 20px;
		}
		
		#kitchoices{
				-moz-column-count: 2;
				text-align: center;
				margin: 0 auto;
		}
		
		#gallery li{
			margin: 0 10% 20px 20%;
		}
		
		#subscribe{
			width: 100%;
			height: 540px;
			padding: 20px 0;
		}
		
		table{
			float: none;
			margin: 0 auto;
		}		

		fieldset{
			width: 60%;
			float: none;
			clear: left;
			margin: 25px 25%;
		}
		
		footer{
			text-align: center;
			font-size: 0.75em;
		}

}
	/*Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 492px) {
		body{ /*background: #aef;*/
			max-width: 418px;
			font-size: 0.8125em;
		}
		
		#logo{
			padding: 0;
			float: left;
			width: 35%;	
		}
		
		nav ul{
			width: 50%; 
			margin:0 0 0 40%;
		}
		
		nav li{
			font-size: 0.875em;
		}
		
		#bgimg{
			background: none;
			float: none;
			height: 0;
		}
		
		#cta{
			width: 90%;
			height: 90px;
			font-size: 0.9em;
			padding: 0 5%;
			margin: 0 auto;
		}
		
		#button{
			width: 25%;
			line-height: 22px;
			margin: 0 40% 0;
		}
		
		header h1{
			font-size: 1.75em;
			margin: 75px 0 6.25%;
			text-align: center;
			}
		
		#kitchoices{
				-moz-column-count: 1;
				text-align: center;
				margin: 0 auto;
		}
		
		#gallery li{
			margin: 0 10% 20px 10%;
		}
		
		#subscribe{
			width: 100%;
			height: 660px;
			padding: 20px 0;
		}
		
		table{
			float: none;
			margin: 0 auto;
		}		

		fieldset{
			width: 50%;
			float: none;
			clear: left;
			margin: 25px 25%;
		}
		
		footer{
			text-align: center;
			font-size: 0.6875em;
		}
}